@using DancingGoat.Models.WebPage.Shopify.ShoppingCartPage
@model ShoppingCartTotalsViewModel

<div class="cart-right-panel floating-box">
    <div class="cart-coupon-input">
        <label>@HtmlLocalizer["Discount coupon"]</label>
        <form asp-controller="ShopifyShoppingCart" asp-action="AddDiscountCode" method="post" asp-antiforgery="true">
            <div>
                <input type="text" name="discountCode" value="" class="form-control" required />
                <input type="submit" name="NewCouponCodeButton" value="@HtmlLocalizer["Apply"]" class="btn btn-primary" />
            </div>
            <div class="message message-error" id="coupon-message-error">
            </div>
        </form>
        @foreach (var couponCode in Model.AppliedCoupons)
        {
            <div class="cart-coupon-code">
                <form asp-controller="ShopifyShoppingCart" asp-action="RemoveDiscountCode" method="post" asp-antiforgery="true">
                    <input type="hidden" name="discountCode" value="@couponCode" />
                    <div class="label">
                        <span>@couponCode</span>
                    </div>
                    <div class="button">
                        <input type="submit" name="RemoveCouponCodeButton" value="@HtmlLocalizer["remove"]" class="btn btn-default" style="color: black" />
                    </div>
                </form>
            </div>
        }
    </div>
    <hr>
    <div class="cart-total">
        <div class="cart-total-viewer">
            <div class="label">
                <span>@HtmlLocalizer["Total (incl. tax estimate)"]</span>
            </div>
            <div class="value">
                <span>@Model.GrandTotal</span>
            </div>
        </div>
    </div>
    <p>@HtmlLocalizer["Review your shopping cart and checkout"]</p>
    <a href="@Model.ShopifyCheckoutUrl" class="btn-primary checkout-button btn btn-default">@HtmlLocalizer["Go to shopify checkout page"]</a>
</div>
