@using DancingGoat.Models.WebPage.Shopify.ShoppingCartPage
@model ShoppingCartItemViewModel

<div class="row">
    <div class="col-md-10">
        <div class="cart-item-image">
            <img src="@Model.ImageUrl" alt="@Model.ItemName" title="@Model.ItemName">
        </div>
        <div class="cart-item-info">
            @Model.ItemName
        </div>
        <div class="cart-item-info__price">
            @if (!string.IsNullOrEmpty(Model.ItemListPrice))
            {
                <s>@Model.ItemListPrice</s>
            }
            <b>@Model.ItemPrice</b>
        </div>
        @if (Model.Coupons.Any())
        {
            <div class="cart-item-info__coupons">
                @HtmlLocalizer["Coupons:"]
                <b>
                    @foreach (var coupon in Model.Coupons)
                    {
                        <span>@coupon</span>
                    }
                </b>
            </div>
        }
        else
        {
            <br />
        }
        <form asp-controller="ShopifyShoppingCart" asp-action="Update" asp-antiforgery="true" method="post">
            @Html.Kentico().PageData()
            <div class="cart-item-amount">
                <span>@HtmlLocalizer["Qty"]</span>
                <input type="hidden" name="@nameof(ShoppingCartItemViewModel.CartItemId)" value="@Model.CartItemId" />
                <input type="number" class="add-to-cart-textbox" min="0" , name="@nameof(ShoppingCartItemViewModel.Quantity)" value="@Model.Quantity" />
                <input type="submit" name="cartOperation" value="Update" class="btn btn-default" />
                <input type="submit" name="cartOperation" value="Remove" class="btn btn-default" />
            </div>
        </form>

        <span class="red field-validation-valid" data-valmsg-for="37" data-valmsg-replace="true"></span>
    </div>
</div>
<hr />